<h2 class="screen-align">Gpordercreatescreen</h2>
<div id="template-i5pq" class="gjs-row">
    <div id="template-i7ea" class="gjs-cell">
        <label id="template-ig1u" class="label ">name
            <br id="template-isfuh" class="">
        </label>
        <input id="template-idjak" class="input form-control " />
    </div>
    <div id="template-imsq" class="gjs-cell">
        <label id="template-i1ka8" class="label ">description
            <br id="template-iulnh" class="">
        </label>
        <input id="template-iwrnl" class="input form-control " />
    </div>
    <div id="template-iycj" class="gjs-cell">
        <label id="template-i06py" class="label ">email</label>
        <input id="template-ih2w6" class="input form-control " />
    </div>
</div>
<div id="template-ij2f" class="gjs-row">
    <div id="template-ii8o" class="gjs-cell">
        <label id="template-i12dh" class="label ">address</label>
        <input id="template-i5mkk" class="input form-control "
        />
        <div id="template-irimg" class="button btn btn-primary ">Create</div>
    </div>
    <div id="template-i6rz" class="gjs-cell">
        <label id="template-iorcn" class="label ">orders</label>
        <input id="template-ixaid" class="input form-control " />
    </div>
    <div id="template-inz7" class="gjs-cell">
        <label id="template-i82nh" class="label ">proce</label>
        <input id="template-idorr" class="input form-control " />
    </div>
</div>